@import "./styles/base.scss";

.title-header {
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: x-large;
}

.game-container {
  position: relative;
  width: 224px;
  height: 184px; //160+8+16
  // width: 672px;
  // height: 480px;
  margin: 0 auto;
  margin-top: 100px;
  transform: scale(3) translateY(20%);
}

.canvas {
  outline: 2px solid black;
  image-rendering: pixelated;
}

.hud-container {
  display:flex;
  justify-content: space-between;
  position: relative;
  width: 224px;
  height: 10px;
  margin:0 auto;

  font-family: 'Press Start 2P', cursive;
  font-size: 5px;
}

.hud { //not using this for now
  image-rendering: pixelated;
  outline: 1px solid black; //will be invisible later

}

.tool-belt {
  display:flex;
  justify-content: center;
  width: 170px;
  height: 25px;
  margin:0 auto;
  margin-top: 4px;
  outline: 2px solid black;
  outline-offset: 1px;
}

.tool-belt > div {
  margin-right:1px;
  width:16px;
  height:25px;
  vertical-align: text-top;
  text-align: left;
  font-family: 'Press Start 2P', cursive;
  font-size: 3px;
  image-rendering: pixelated;

  // testing
  overflow: hidden;
}

.invImg {
  margin: 0 auto;
  image-rendering: pixelated;
}

.itemCount{
  margin-top: 3px;
  vertical-align: text-bottom;
  text-align: right;
  font-family: 'Press Start 2P', cursive;
  font-size: 3px;
  image-rendering: pixelated;
}

