@import "./styles/base.scss";

.title-header {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  height: 64px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: x-large;
}

.game-container {
  position: relative;
  // width: 224px;
  // height: 184px; //160+8+16
  width: 352px;
  height: 240px;
  margin: 0 auto;
  margin-top: 100px;
  transform: scale(3) translateY(20%);

}

.canvas {
  outline: 2px solid black;
  image-rendering: pixelated;
  margin: 0 auto;
}

.hud-container {
  display:flex;
  justify-content: space-between;
  position: relative;
  width: 224px;
  height: 10px;
  margin:0 auto;
  border-top: 16px;
  font-family: 'Press Start 2P', cursive;
  font-size: 5px;
}

.hud-right-blink {
  animation: blinker 0.5s linear infinite;
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.tool-belt {
  display:flex;
  justify-content: center;
  width: 170px;
  height: 26px;
  margin:0 auto;
  margin-top: 16px;
  outline: 2px solid black;
  outline-offset: 1px;
}

.tool-belt > div {
  margin-right:1px;
  width:16px;
  height:26px;
  vertical-align: text-top;
  text-align: left;
  font-family: 'Press Start 2P', cursive;
  font-size: 4px;
  image-rendering: pixelated;

  // testing
  overflow: hidden;
}

.invImg {
  margin: 0 auto;
  image-rendering: pixelated;
}

.itemCount{
  margin-top: 1px;
  vertical-align: text-bottom;
  text-align: right;
  font-family: 'Press Start 2P', cursive;
  font-size: 4x;
  image-rendering: pixelated;
}





///////// Store CSS ////////


.main-container {
  display: flex;
  justify-content: center;
}

.main-left {
  width: 40px;
  height: 160px;
  outline: 2px solid black;
  margin: 0 auto;
}

.store {
  display: grid;
  gap: 4px 0px;

  width: 40px;
  grid-template-columns: 22px 22px;
  grid-template-rows: 8px repeat(4, 22px);
  height: 164px;
  outline: 2px solid black;
  margin: 0 auto;
}

.store-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 8px;
  // outline: 1px solid black;
  font-family: 'Press Start 2P', cursive;
  font-size: 4px;
  vertical-align: text-bottom;
  text-align: center;
  margin: 0px;

}

#store-buy {
  background-color: green;
  color: white;
}  

#store-sell {
  background-color: red;
  color: white;
}

.store-item {
  width: 16px;
  height: 20px;
  // outline: 2px solid black;

  //testing
  font-family: 'Press Start 2P', cursive;
  font-size: 4px;
  vertical-align: text-bottom;
  text-align: center;
  overflow: hidden;
  image-rendering: pixelated;
}

.store-item img {
  margin-left: 1px;
}