@import "./styles/base.scss";

.title-header {
  position: relative;
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: larger;
}

.game-container {
  position: relative;
  width: 224px;
  height: 160px;
  // width: 672px;
  // height: 480px;
  margin: 0 auto;
  margin-top: 150px;
  outline: 2px solid black;

  transform: scale(3) translateY(20%);
}

.canvas {
  image-rendering: pixelated;
}