.title-header {
  position: relative;
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: larger;
}

.game-container {
  position: relative;
  width: 640px;
  height: 480px;
  margin: 0 auto;
  margin-top: 75px;
  outline: 2px solid black;
  background-color: rgb(154, 103, 79);
}